body {
  background: #facaa5;
}
h1 {
    color: #544d46;
    text-align: center;
    padding: 10px;
}
h4 {
    color: #544d46;
    text-align: left;
    padding: 5px;
}
h5 {
    color: #544d46;
    text-align: left;
    padding: 3px;
    font-size: 15pt;
}
h6 {
    color: #544d46;
    text-align: center;
    padding: 3px;
    font-size: 12pt;
}
