<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>{% extends 'base.html' %}

{% block title %} Ядерные актанты в аварском языке {% endblock %}

{% block content %}
<br>
<p><h1>Исследование различных стратегий маркирования ядерных актантов в аварском языке</h1></p>

<p><h2>Добро пожаловать на мой исследовательский сайт!</h2></p>
<hr>
<p><h3 style="text-align: center;">Навигация по сайту</h3></p>
Для начала перейдите, пожалуйста, в раздел "Анкета" в верхнем меню. Там Вам будет необходимо указать некоторые данные о себе (данные не распространяются и будут использованы исключительно в научных целях), а также оценить с точки зрения правильности приведенные предложения.

В разделе "Статистика опроса" Вы сможете посмотреть, как в среднем оценивают предложения другие респонденты.
<hr>
<p><h3 style="text-align: center;">Немного о ядерных актантах и аварском языке</h3></p>
<p>Стратегия кодирования глагольных актантов — система отношений между аргументами глагола, определяющая базовую структуру предложения. Разные стратегии различаются прежде всего в кодировании основных актантов переходного и непереходного глагола. В лингвистике выделяются эргативная, аккузативная, активная, контрастивная, нейтральная, трёхчленная и тематическая стратегии кодирования (и соответствующие конструкции предложения).</p>
<p>Эргативная конструкция - модель предложения, характеризующаяся особым обозначением субъекта переходного глагола при форме его объекта, которая совпадает с формой субъекта непереходного глагола. Характеризует языки эргативного строя, где она противопоставлена абсолютной конструкции, ср. аварский «ди-ца бече бачана» — «я телёнка пригнал» (эргативная конструкция) при «бече бачIaна» — «телёнок пришел» (абсолютная конструкция). Э. к. входит в более широкую систему эргативности, которая в лексике выражается распределением глаголов на переходные и непереходные, а в морфологии — различением эргативного и абсолютного падежей в именном склонении или двух рядов личных показателей в глагольном спряжении.</p>
<hr>
<p><h3 style="text-align: center;">Ссылки на материалы для более подробного ознакомления</h3></p>
<div class="uvp-list">
    <ul>
        <li><a href="https://lingvoforum.net/index.php?topic=68078.0"><u>Объяснение эргативной конструкции в аварском простым языком</u></a></li>

        <li><a href="https://lingvoforum.net/index.php?topic=68078.0"><u>Автореферат диссертации про аварские глаголы</u></a></li>
    </ul>						
</div>
<br>
<br>
<br>
{% endblock %}