{% extends 'base.html' %}

{% block title %} Анкета {% endblock %}

{% block content %}
<body>
<form class="container" action="/process">
    <h4>Анкета респондента</h4>
    <div class="row">
        <div class="col-md-4">Возраст</div>
        <div class="col-md-4"><input type="number" name="age"></div>
    </div>
    <div class="row">
        <div class="col-md-4">Гендер</div>
        <select name="gender" class="col-md-4">
            <option value="male">м</option>
            <option value="female">ж</option>
            <option value="other">другой</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-4">Уровень образования</div>
        <select name="education" class="col-md-4">
            <option value="kindergarten">детский сад</option>
            <option value="school_9">9 классов школы</option>
            <option value="school_11">11 классов школы</option>
            <option value="college">среднее специальное</option>
            <option value="student">неоконченное высшее</option>
            <option value="bachelor">бакалавриат/специалитет</option>
            <option value="master">магистратура</option>
            <option value="phd">аспирантура</option>
            <option value="candidate">кандидат наук</option>
            <option value="doctor">доктор наук</option>
        </select>
    </div>
    <h2>Вопросы</h2>
    {% for question in questions %}
        <div class="row">
            <p class="col-md-6">{{question.text}}</p>
            <table class="col-md-8">
                <tr>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=5></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=4></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=3></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=2></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=1></td>
                </tr>
                <tr>
                    <td>отлично</td>
                    <td>хорошо</td>
                    <td>норм</td>
                    <td>плохо</td>
                    <td>ужасно</td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <div class="row">
        <input class="submit" type="submit" name="submit" value="Отправить">
    </div>
</form>
</body>
{% endblock %}

{% block foot %}
    <h6><b>Для связи телеграм</b>: @pasaulio_liudesys <br></h6>
{% endblock %}